@use 'style-form';

$verde-primario: #5cb85c;
$verde-secundario: #72bb53;
$color-letra: #35424a;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dancing+Script&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=DM+Sans&family=Dancing+Script&family=Quicksand&display=swap');

@mixin flexboxClass () {
    display: flex;
    flex-direction: column;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#container{
  font-family: Quicksand;
  width: 100vw;
  height: 90vh;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  color: $color-letra;
  font-weight: bold;
}

.logo
{
  width: 200px;
  height: 199px;
}

.titulo
{
  color: $color-letra;
  font-weight: bold;
}

.page-link
{
  background-color: $verde-primario;
  color: white;
}

.accordion-button 
{
  background-color: $verde-primario;
  color: white;
  margin: 12px 0px;
}

.navbar
{
  text-align: center;
  background-color: $color-letra;
}

.offcanvas
{
  width: 100%;
}

hr  
{
  background-color: $verde-secundario;
  height: 2px !important;
  color: $verde-secundario;
  opacity: 100;
  margin-bottom: 5px;
}

#nav {
  position: fixed;
  height: 100vh;
  width: 10vw;
  padding: 0;
  top: 30%;
  line-height: 150%;
  z-index: 1;
  background: white;
  color: black;
  font-family: Asap;
  text-align: center;
}

.carousel-item
{
  margin-bottom: 25px;
}

.img-nav
{
  width: 110px;
  height: 107px;
}

.img-right
{
  width: 52px;
  height: 50px;
}

ul
{
  padding: 0;
}

.email
{
  color: rgba(0, 89, 255, 0.904);
}

#carousel-calendar
{
  height: 70vh;
}

.offcanvas-body
{
  height: 100%;
}

.navbar-nav
{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar-nav 
{
   li
    {
        a 
        {
        padding: 10px;
        color: $color-letra; 
        text-decoration: none;
        }
    }  
}

.pagination
{
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.navigation 
{
  width: 100%;
  margin-top: auto;
}

.active-pagination 
{
    .page-link
    {
    background-color: $color-letra;
    }    
}

.active-nav
{
  background-color: $verde-secundario;
  border-radius: 5px;
  opacity: 70%;
  font-weight: bold;
}

#bodycontent
{
  display: flex;
  flex-direction: column;
  padding: 0px 10px; 
  width: 100%;
  height: 100%;
  text-align: center;
}

#infotable 
{
    th
    {
    text-decoration: underline;
    border: $verde-secundario solid 1px;
    padding-top: 1em; 
    }
}


#infotable 
{
    td
    {
    text-align: center;
    border: $verde-secundario solid 1px;
    }
}


#titlecenter
{
  text-align: center;
}

#upcoming 
{
  text-align: center;
  margin-top: 40px;
}

iframe
{
  border: 0;
  overflow: hidden;
  margin: 0;
}

#infotable, #rules
{
    h3
    {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1em;
    }
} 

table
{
  width: 100%;
  margin: 15px 0px;
}

#gamelocations 
{
    td
    {
    padding: 2em;
    }
}

.carousel
{
  height: 90%;
}

.body-title
{
  font-weight: bold;
}

.light
{
    background-color: white !important;
    color: black !important;
}
.dark
{
    background-color: black !important;
    color: white !important;
}
